@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');
$font-body: "QuickSand", "sans-seriff";

$color-body-background: #fefdf8;
$color-button-dark: #394166;
$color-secondary-footwe:#fffcdd;
$color-heading:#48b9f1;
$color-white:#fafafa;