//Problems-things to ask:
//can not make font weight bolder or light for anything not working  
//when nesting and calling to a class inside for rxample main , and later .main-header did not work, but it did with id.

@use "./variаbles" as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
}

body {
    background-color: $color-body-background;

}

//*** NAV ***
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 20px;
    font-weight: 1500;

    .nav-logo {
        height: 130px;
    }
    .nav-button{
        height: 70px;
        width: 150px;
        font-size: 1.5em;
        font-weight: bold;
        padding: 5px;
        border-radius: 10px;
        color: $color-button-dark;
        background-color: $color-body-background;
        font-weight: bolder;
    }

}
//*** MAIN ***

main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        #main-header{
            color: $color-heading;
            font-size: 3em;
            margin: 50px 30px;
            font-weight: bolder;
        }

        .device-img {
            height: 500px;
        }

        #second-main-header{
            color: $color-button-dark;
            font-size: 2.5em;
            margin: 50px 30px;
        }

        h2 {
            color: $color-heading;
            font-size: 2.1em;
            margin-top: o;
            margin-left: 30px;
            margin-right: 30px;
        }
        .blue-btn-1 {
            color: white;
            font-size: 1.9em;
            font-weight: bold;
            background-color: $color-button-dark;
            height: 100px;
            width: 50%;
            border: none;
            border-radius: 10px ;

            .bolder-text {
                font-weight: 500px;
            }
        }



        section {
            header {
                color: $color-button-dark;
                font-size: 2.5em;
                margin: 50px 30px;
            }

            .card {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 30px 0px;

                img {
                    height: 200px;
                    margin: 0 30px;
                }

                p {
                    color: $color-button-dark;
                    font-size: 1.9em;
                    margin: 0 30px;
                }
            }

            .blue-btn-2{
                color: white;
                font-size: 1.9em;
                font-weight: bold;
                background-color: $color-button-dark;
                height: 90px;
                width: 50%;
                border: none;
                border-radius: 10px ;   
                margin-bottom: 100px;
            }
        }
    }

.container p {
    color: $color-button-dark;
    margin: 30px 30px;
    font-size: 1.5em;
    font-weight: lighter;
}

//*** FOOTER ***
footer {
    background-color: #fffcdd;
    font-size: 2em;
    font-weight: bold;

    ul  {
        padding: 10px 0;
        li {
            list-style-type: none;
            margin: 30px 0;
            display: flex;
            align-items: center;
            justify-content: center;
                a {
                    text-decoration: none;
                    color: $color-button-dark;
                }
        }
    }
}
